
.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  gap: 10rem;
  margin-top: 5rem;
}

.about__container--images {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.about__container--images img {
  width: 640px;
  height: 480px;
  box-shadow: -20px 20px #3B66CE;
}

.about__container--content h1 {
  line-height: 0;
}

.about__container--content p {
  margin-top: -0.5rem;
}

.about__container--content {
  display: flex;
  flex-direction: column;
  width: 750px;  
  gap: 10rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper h1 {
  color: #3B66CE;
  font-size: 10rem;
}

.wrapper p {
  font-size: 1.25rem;
}



/* HERO */
.AboutHero {
  display: flex;
  justify-content: center;
}

.about__container--hero {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.AboutHero p {
  width: 70%;
  font-size: 2rem;
  font-weight: 400;
}

.AboutHero h2 {
  font-size: 5rem;
  z-index: 11;
  margin-bottom: -1rem;
  color: var(--clr-blue);
}

.AboutHero button {
  width: 15rem;
  height: 4rem;

  background: var(--clr-blue);
  color: #fff;

  font-size: 1.5rem;

  border: none;
  border-radius: 1rem;

  margin-bottom: 5rem;
  cursor: pointer;
  box-shadow: 0px 0.2rem 1rem rgba(59, 102, 206, 0.5);
  transition: 250ms cubic-bezier(0, 0, 0.5, 1);
}

.AboutHero button:hover, .About button:focus {
  box-shadow: 0px 0.5rem 1.5rem rgba(59, 102, 206, 0.75);
  transform: translateY(-0.2rem);
}

.about--wave {
	margin-top: -17rem;
	position: absolute;
	left: 50%;
  transform: translateX(-50%);
	max-width: 100%;
	height: 65%;
  z-index: 10;
}



@media screen and (max-width: 1560px) {
  .wrapper div div h1 {
    font-size: 7rem; 
  }
  .wrapper div div p {
    font-size:  0.8rem;
  }
  .about__container {
    width: 90%;
  }
  .about__container--images img {
    width: 576px;
    height: 432px;
  }

}

@media screen and (max-width: 1348px) {
  .about__container--images img {
    width: 480px;
    height: 360px;
  }
  .wrapper div div h1 {
    font-size: 5rem;
  }
  .wrapper div div p {
    font-size: 0.7rem;
  }
  .about__container--content {
    width: 900px;
  }
}

@media screen and (max-width: 1000px) {
  .about__container--content {
    align-items: center;
    justify-content: center;
  }
  .about__container--images img {
    display: none;
  }
  .wrapper div div p {
    font-size: 1rem
  }
  .about__container {
    width: 100%;
  }
  .about__container--images {
    display: none;
  }
  .wrapper {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 720px) {
  .wrapper div div p {
    font-size: 0.8rem;
  }
  .wrapper div div h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 400px) {
  .wrapper div div p {
    font-size: 0.6rem;
  }
  .wrapper div div h1 {
    font-size: 3rem;
  }
}


@media screen and (max-height: 1368px) {
  .about--wave {
    margin-top: -20rem;
  }
}

@media screen and (max-height: 1215px) {
  .about--wave {
    margin-top: -23rem; 
  }
}

@media screen and (max-height: 915px) {
  .about--wave {
    margin-top: -20rem;
  }
}

@media screen and (max-height: 900px) {
  .about--wave {
    margin-top: -18rem;
 }
}

@media screen and (max-height: 750px) {
  .about--wave {
    margin-top: -15rem;
  }
}

@media screen and (max-height: 670px) {
  .about--wave {
    margin-top: -14rem;
  }
}

@media screen and (max-width: 1000px) {
   .AboutHero p {
    font-size: 1.5rem;
  }
}

.about--wave::selection {
  background: none;
 }

