/* Color Variables

  --clr-black: #000;
  --clr-white: #fff;
  --clr-blue: #3B66CE;
  --clr-blue-light: #C6D8FC;
  --clr-translucent: rgba(0, 0, 0, 0.25);

*/

.Overlay {

  background-color: #00000080;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 99;
}

.Modal {
  background-color: #fff;

  width: 30%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;
}

.modal__image {
  width: 50%;
  height: 50%;
}
