  /* 
  Color Variables
  --clr-black: #000;
  --clr-white: #fff;
  --clr-blue: #3B66CE;
  --clr-blue-light: #C6D8FC;
  --clr-translucent: rgba(0, 0, 0, 0.25);
  */

.header {
  color: #3B66CE;

  font-weight: 500;
  font-size: 8rem;
  margin-bottom: 1rem;


  margin-left: 2rem;
  margin-bottom: 5rem;
  
  text-align: left;
  
  opacity: 0;
  animation: fadeinHeader 1000ms cubic-bezier(0, 0, 0.5, 1) 300ms forwards;
}

.showcaseItem {
  
  width: 200px;
  height: 200px;

  opacity: 0;

  animation: fadein 1000ms cubic-bezier(0, 0, 0.5, 1) forwards;

}

.showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@keyframes fadeinHeader {
  from {
    transform: translateY(-16px);
    opacity: 0;
  }
    to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    transform: translateY(32px);
    opacity: 0;
  }
    to {
    transform: translateY(0);
    opacity: 1;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 30rem;
  height: 40rem;

  background-color: #fff;
  border-radius: 20px;
  opacity: 0;
  animation: fadein 1000ms cubic-bezier(0, 0, 0.5, 1) forwards;
}

.product h2 {
  color: #3B66CE;
  font-size: 3rem;
}

.product p {
  color: #C6D8FC;
  font-size: 2rem;
}

.product img {
  align-self: flex-start;
  width: 100%;
}

.products {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 614px) {

  .showcase {
    display: none;
  }

}

@media screen and (max-width: 500px) {

  .product {
    width: 22rem;
    height: 32rem;
  }
  .product img {
    margin-top: 0;
  }

}

@media screen and (max-width: 360px) {

  .product {
    width: 19rem;
    height: 32rem;
  }
  .product img {
    margin-top: 0;
  }

}
