
:root {

  /* Color Variables*/
  --clr-black: #000;
  --clr-white: #fff;
  --clr-blue: #3B66CE;
  --clr-blue-light: #C6D8FC;
  --clr-translucent: rgba(0, 0, 0, 0.25);

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 4.5rem;
  background: var(--clr-blue-light);

  display: flex;
  justify-content: center;
  align-items: center;
}


/* Banner Styles*/
.banner--content {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.banner--button {
  height: 2rem;
  width: 15rem;

  font-size: 1rem;

  border: 1px solid var(--clr-black);
  border-radius: 10px;
  background-color: transparent;
}

.banner--button:hover,.banner--button:focus {
  background-color: var(--clr-black);
  color: var(--clr-blue-light);
}



.nav--list {
  background: var(--clr-white);
  box-shadow: 0px 1rem 1.5rem var(--clr-translucent);
  padding: 1rem 0;
  margin: 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav--item {
  list-style: none;
  margin-right: 2rem;
}

.nav--item a {
  text-decoration: none;
  color: var(--clr-black);
  transition: all 200ms cubic-bezier(0, 0, 0.5, 1);
}

.nav--item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.nav--item a:hover,.nav--item a:focus {
  color: var(--clr-blue);
}


.main {
  background-image: url("https://github.com/codeyStein/ProtectCorals/blob/main/images/background--main.png?raw=true");

  margin: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 810px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main--container {
  width: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.main--header {
  color: var(--clr-white);

  font-weight: 500;
  font-size: 6.5rem;
  margin-bottom: 1rem;

  text-align: left;

  animation: fadeinHeader 1000ms cubic-bezier(0, 0, 0.5, 1) 300ms;

}

.main--button {

  font-size: 1.5rem;

  color: var(--clr-blue);
  background-color: var(--clr-white);

  border-radius: 1rem;
  border: transparent;

  height: 4.5rem;
  width: 20.5rem;

  box-shadow: 0px 0rem 1rem var(--clr-translucent);

  cursor: pointer;
  transition: all 200ms cubic-bezier(0, 0, 0.5, 1);

  animation: fadein-leftHeader 1000ms cubic-bezier(0, 0, 0.5, 1) 300ms;

}

.main--button:hover,.main--button:focus {
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0px 1rem 1.5rem var(--clr-translucent);
}

@keyframes fadeinHeader {
  from {
    transform: translateY(-16px);
    opacity: 0;
  }
    to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein-leftHeader {
  from {
    transform: translateX(-16px);
    opacity: 0;
  }
    to {
    transform: translateX(0);
    opacity: 1;
  }
}